
a-waves {
    --x: -0.5rem;
    --y: 50%;
  
    position: fixed;
    top: 0;
    left: 0;
  
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    overflow: hidden;
    z-index: 10;
  }
   
  /*
  a-waves::before {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 0.5rem;
    height: 0.5rem;
  
    background: #160000;
    border-radius: 50%;
  
    transform: translate3d(calc(var(--x) - 50%), calc(var(--y) - 50%), 0);
  
    will-change: transform;
  
    content: "";
  }
  */
  a-waves canvas {
    display: block;
  
    width: 100%;
    height: 100%;
  }